.navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
